{{ template "layout" . }}

{{ define "title" }}管理 - Drasl{{ end }}

{{ define "content" }}
  {{ template "header" . }}

  <h4>未使用的邀请</h4>

  <div style="text-align: right">
    <form
      style="all: unset !important"
      action="{{ .App.FrontEndURL }}/drasl/admin/new-invite"
      method="post"
    >
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input type="submit" value="+ 新邀请" />
    </form>
  </div>
  {{ if .Invites }}
    <table>
      <thead>
        <tr>
          <td style="width: 50%">链接</td>
          <td>生成日期</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {{ range $invite := .Invites }}
          <tr>
            <td>
              <a href="{{ InviteURL $.App $invite }}"
                >{{ $.App.FrontEndURL }}/drasl/registration?invite={{ $invite.Code }}</a
              >
            </td>
            <td>
              {{ $invite.CreatedAt.Format "Mon Jan _2 15:04:05 MST 2006" }}
            </td>
            <td>
              <form
                action="{{ $.App.FrontEndURL }}/drasl/admin/delete-invite"
                method="post"
              >
                <input hidden name="returnUrl" value="{{ $.URL }}" />
                <input
                  type="text"
                  name="inviteCode"
                  value="{{ $invite.Code }}"
                  hidden
                />
                <input type="submit" value="× 删除" />
              </form>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    没有邀请可显示。
  {{ end }}

  <h4>所有用户</h4>

  <div style="display: none">
    {{ range $user := .Users }}
      <form
        id="delete-{{ $user.Username }}"
        action="{{ $.App.FrontEndURL }}/drasl/delete-user"
        method="post"
        onsubmit="return confirm('确定吗？此操作不可逆。');"
      >
        <input hidden name="returnUrl" value="{{ $.URL }}" />
        <input type="text" name="username" value="{{ $user.Username }}" />
      </form>
    {{ end }}
  </div>

  <form action="{{ .App.FrontEndURL }}/drasl/admin/update-users" method="post">
    <table>
      <thead>
        <tr>
          <td colspan="2">个人资料</td>
          <td>玩家名称</td>
          <td>管理员</td>
          <td>锁定</td>
          <td>删除账户</td>
        </tr>
      </thead>
      <tbody>
        {{ range $user := .Users }}
          <tr>
            <td style="width: 30px">
              <div
                class="list-profile-picture"
                style="background-image: url({{ UserSkinURL $.App $user }});"
              ></div>
            </td>
            <td>
              <a
                href="{{ $.App.FrontEndURL }}/drasl/profile?user={{ $user.Username }}"
                >{{ $user.Username }}</a
              >
            </td>
            <td>{{ $user.PlayerName }}</td>
            <td>
              <input
                name="admin-{{ $user.Username }}"
                title="管理员？"
                type="checkbox"
                {{ if
                  $user.IsAdmin
                }}
                  checked
                {{ end }}
                {{ if
                  IsDefaultAdmin
                  $.App
                  $user
                }}
                  disabled
                {{ end }}
              />
            </td>
            <td>
              <input
                name="locked-{{ $user.Username }}"
                title="锁定？"
                type="checkbox"
                {{ if
                  $user.IsLocked
                }}
                  checked
                {{ end }}
              />
            </td>
            <td>
              <input
                type="submit"
                form="delete-{{ $user.Username }}"
                value="× 删除"
              />
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    <p style="text-align: center">
      <input hidden name="returnUrl" value="{{ $.URL }}" />
      <input type="submit" value="保存更改" />
    </p>
  </form>

  {{ template "footer" . }}
{{ end }}