{{ template "layout" . }}

{{ define "title" }}管理 - {{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ template "header" . }}

  <h4>未使用的邀请</h4>

  <div style="text-align: right">
    <form
      style="all: unset !important"
      action="{{ .App.FrontEndURL }}/web/admin/new-invite"
      method="post"
    >
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input type="submit" value="+ 新邀请" />
    </form>
  </div>
  {{ if .Invites }}
    <table>
      <thead>
        <tr>
          <td style="width: 50%">链接</td>
          <td>生成日期</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {{ range $invite := .Invites }}
          <tr>
            <td>
              <a href="{{ InviteURL $invite }}"
                >{{ $.App.FrontEndURL }}/web/registration?invite={{ $invite.Code }}</a
              >
            </td>
            <td>
              {{ $invite.CreatedAt.Format "Jan _2 15:04:05 MST 2006" }}
            </td>
            <td>
              <form
                action="{{ $.App.FrontEndURL }}/web/admin/delete-invite"
                method="post"
              >
                <input hidden name="returnUrl" value="{{ $.URL }}" />
                <input
                  type="text"
                  name="inviteCode"
                  value="{{ $invite.Code }}"
                  hidden
                />
                <input type="submit" value="× 删除" />
              </form>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    没有邀请可显示。
  {{ end }}
  <h4>所有用户</h4>

  <div style="display: none">
    {{ range $user := .Users }}
      <form
        id="delete-{{ $user.UUID }}"
        action="{{ $.App.FrontEndURL }}/web/delete-user"
        method="post"
        onsubmit="return confirm('确定删除帐号“{{ $user.Username }}”吗？此操作不可逆');"
      >
        <input
          hidden
          name="returnUrl"
          value="{{ if eq $.User.UUID $user.UUID }}
            {{ $.App.FrontEndURL }}
          {{ else }}
            {{ $.URL }}
          {{ end }}"
        />
        <input hidden type="text" name="uuid" value="{{ $user.UUID }}" />
      </form>
    {{ end }}
  </div>

  <form action="{{ .App.FrontEndURL }}/web/admin/update-users" method="post">
    <table>
      <thead>
        <tr>
          <td colspan="2">用户</td>
          <td>角色</td>
          <td>最大角色数量*</td>
          <td>管理员</td>
          <td>锁定</td>
          <td>删除帐号</td>
        </tr>
      </thead>
      <tbody>
        {{ range $user := .Users }}
          <tr>
            <td style="width: 30px">
              <div
                class="list-profile-picture"
                {{ with $playerSkinURL := PrimaryPlayerSkinURL $user }}
                  {{ if $playerSkinURL }}
                    style="background-image: url({{ $playerSkinURL }});"
                  {{ end }}
                {{ end }}
              ></div>
            </td>
            <td>
              <a
                href="{{ $.App.FrontEndURL }}/web/user/{{ $user.UUID }}"
                >{{ $user.Username }}</a
              >
            </td>
            <td>
              {{ if eq (len $user.Players) 1 }}
                {{ with $player := index $user.Players 0 }}
                  <a href="{{ $.App.FrontEndURL }}/web/player/{{ $player.UUID }}">{{ $player.Name }}</a>
                {{ end }}
              {{ else if gt (len $user.Players) 1 }}
                {{ len $user.Players }}个角色
              {{ end }}
            </td>
            <td>
              <input
                name="max-player-count-{{ $user.UUID }}"
                type="number"
                {{ if $user.IsAdmin }}
                  title="管理员可以创建无限个角色"
                  disabled
                {{ end }}
                value="{{ if or $user.IsAdmin (eq $user.MaxPlayerCount $.App.Constants.MaxPlayerCountUnlimited) }}-1{{ else if eq $user.MaxPlayerCount $.App.Constants.MaxPlayerCountUseDefault}}{{ else }}{{ $user.MaxPlayerCount }}{{ end }}"
                placeholder="{{ $.App.Config.DefaultMaxPlayerCount }}"
                min="-1">
              </input>
            <td>
              <input
                name="admin-{{ $user.UUID }}"
                title="管理员？"
                type="checkbox"
                {{ if
                  $user.IsAdmin
                }}
                  checked
                {{ end }}
                {{ if
                  IsDefaultAdmin
                  $user
                }}
                  disabled
                {{ end }}
              />
            </td>
            <td>
              <input
                name="locked-{{ $user.UUID }}"
                title="锁定？"
                type="checkbox"
                {{ if
                  $user.IsLocked
                }}
                  checked
                {{ end }}
              />
            </td>
            <td>
              <input
                type="submit"
                form="delete-{{ $user.UUID }}"
                value="× 删除"
              />
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    <p><small>*填写-1即可允许创建无限个角色，留空以使用默认的限制（{{ $.App.Config.DefaultMaxPlayerCount }}个）.</small></p>
    <p style="text-align: center">
      <input hidden name="returnUrl" value="{{ $.URL }}" />
      <input type="submit" value="保存更改" />
    </p>
  </form>

  {{ template "footer" . }}
{{ end }}