{{ template "layout" . }}
{{ define "content" }}
  {{ template "header" . }}

  <p>
    在注册UUID之前，我们需要验证您拥有
    {{ .App.Config.RegistrationExistingPlayer.Nickname }} 账户
    "{{ .Username }}"。
  </p>

  {{/* prettier-ignore-start */}}
  <p>
    下载此图片并将其设置为您的
    {{ .App.Config.RegistrationExistingPlayer.Nickname }}
    账户的皮肤{{ if .App.Config.RegistrationExistingPlayer.SetSkinURL }}， <a target="_blank" href="{{ .App.Config.RegistrationExistingPlayer.SetSkinURL }}">点击这里前往皮肤设置</a>{{ end }}。
  </p>
  <p>
    该皮肤仅用于验证您拥有该账户，注册后您可以更改皮肤。
  </p>
  {{/* prettier-ignore-end */}}

  <div style="text-align: center">
    <img
      src="data:image/png;base64,{{ .SkinBase64 }}"
      width="256"
      height="256"
      style="image-rendering: pixelated; width: 256px"
      alt="Drasl 验证皮肤"
    />
    <p>
      <a
        download="{{ .SkinFilename }}"
        href="data:image/png;base64,{{ .SkinBase64 }}"
        >下载皮肤</a
      >
    </p>
  </div>
  <p>
    完成后，请为您的 DRASL 账户输入密码并点击“注册”。
  </p>
  <form action="{{ .App.FrontEndURL }}/drasl/register" method="post">
    <input
      type="text"
      name="username"
      value="{{ .Username }}"
      required
      hidden
    />
    <input type="password" name="password" placeholder="密码" required />
    <input type="checkbox" name="existingPlayer" checked hidden />
    <input hidden name="challengeToken" value="{{ .ChallengeToken }}" />
    <input hidden name="inviteCode" value="{{ .InviteCode }}" />
    <input hidden name="returnUrl" value="{{ .URL }}" />
    <input type="submit" value="注册" />
  </form>

  {{ template "footer" . }}
{{ end }}
