{{ template "layout" . }}
{{ define "content" }}
  {{ template "header" . }}

  <p>
    在注册这个UUID前，我们需要验证你拥有该{{ .App.Config.ImportExistingPlayer.Nickname }}帐号：
    "{{ .PlayerName }}"。
  </p>

  <p>
    下载此图片并将其设置为您的
    {{ .App.Config.ImportExistingPlayer.Nickname }}
    帐号的皮肤{{ if .App.Config.ImportExistingPlayer.SetSkinURL }}, <a target="_blank" href="{{ .App.Config.ImportExistingPlayer.SetSkinURL }}">点击这里前往皮肤设置</a>{{ end }}.
  </p>
  <p>
    该皮肤仅用于验证您拥有该帐号，注册后您可以更改皮肤。
  </p>

  <div style="text-align: center">
    <img
      src="data:image/png;base64,{{ .SkinBase64 }}"
      width="256"
      height="256"
      style="image-rendering: pixelated; width: 256px;"
      alt="{{ .App.Config.ApplicationName }} 验证皮肤"
    />
    <p>
      <a
        download="{{ .SkinFilename }}"
        href="data:image/png;base64,{{ .SkinBase64 }}"
        >下载皮肤</a
      >
    </p>
  </div>


  {{ if eq .Action "register" }}
    {{ if .UseIDToken }}
      <p>
        完成后请点击“注册”。
      </p>
    {{ else }}
      <p>
        完成后，请为您的 {{ .App.Config.ApplicationName }} 帐号输入密码并点击“注册”。
      </p>
    {{ end }}
    <form action="{{ .App.FrontEndURL }}/web/register" method="post">
      <input hidden type="text" name="playerName" value="{{ .PlayerName }}"
      />
      {{ if not .UseIDToken }}
        <input type="password" name="password" placeholder="密码" required />
      {{ end }}
      <input hidden type="checkbox" name="existingPlayer" checked />
      <input hidden type="checkbox" name="useIdToken" {{ if .UseIDToken }}checked{{ end }} />
      <input hidden name="challengeToken" value="{{ .ChallengeToken }}" />
      <input hidden name="inviteCode" value="{{ .InviteCode }}" />
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input type="submit" value="注册" />
    </form>
  {{ else if eq .Action "create-player" }}
    <p>
      完成后请点击“创建角色”。
    </p>
    <form action="{{ .App.FrontEndURL }}/web/create-player" method="post">
      <input hidden name="userUuid" value="{{ .UserUUID }}"/>
      <input hidden name="playerName" value="{{ .PlayerName }}"/>
      <input hidden type="checkbox" name="existingPlayer" checked />
      <input hidden name="challengeToken" value="{{ .ChallengeToken }}" />
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input type="submit" value="创建角色" />
    </form>
  {{ end }}

  {{ template "footer" . }}
{{ end }}
