{{ template "layout" . }}

{{ define "title" }}完成注册 - {{ .App.Config.ApplicationName }}{{ end }}

{{ define
  "content"
}}
  {{ template "header" . }}

  {{ $dividerNeeded := false }}

  {{ if .AnyUnmigratedUsers }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3>迁移一个现有用户</h3>

    <p>你可以将该身份提供商关联到 {{ .App.Config.ApplicationName }} 帐号. <span class="warning-message">一旦关联完成后，你将无法使用 {{ .App.Config.ApplicationName }} 密码登陆。你需要使用Minecraft Token在启动器中登陆。</span></p>

    <form action="{{ .App.FrontEndURL }}/web/oidc-migrate" method="post">
      <input type="text" name="username" placeholder="Username" required />
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input
        class="long"
        type="password"
        name="password"
        placeholder="Password"
        required
      />
      <input type="submit" value="关联帐号" />
    </form>
    {{ $dividerNeeded := true }}
  {{ end }}

  <!-- CreateNewPlayer -->
  {{ if .App.Config.CreateNewPlayer.Allow }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3>创建新角色</h3>
    {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
      <p>创建你的第一个角色以完成注册：</p>
    {{ else }}
      <p>创建一个随机UUID的新角色以完成注册：</p>
    {{ end }}
    <form action="{{ .App.FrontEndURL }}/web/register" method="post">
      <input
        required
        type="text"
        name="playerName"
        placeholder="角色名"
        maxlength="{{ .App.Constants.MaxUsernameLength }}"
        value="{{ .PreferredPlayerName }}"
        {{ if not .AllowChoosingPlayerName }}
          title="该实例不允许自定义角色名"
          disabled
        {{ end }}
      />
      <input
        type="text"
        name="email"
        placeholder="留空"
        class="honeypot"
      />
      <input
        hidden
        type="checkbox"
        name="useIdToken"
        checked
      />
      {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
        <p>
          <input
            class="long"
            type="text"
            name="uuid"
            placeholder="玩家 UUID （留空以随机生成）"
            pattern="^[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12}$"
          />
        </p>
      {{ end }}
      <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
      <input hidden name="returnUrl" value="{{ .URL }}" />
      {{ if .InviteCode }}
        <p><em>将使用邀请码 {{ .InviteCode }} 注册</em></p>
      {{ end }}
      <p>
        <input type="submit" value="注册" />
      </p>
    </form>
    {{ $dividerNeeded = true }}
  {{ end }}

  <!-- ImportExistingPlayer -->
  {{ if .App.Config.ImportExistingPlayer.Allow }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3>从现有Minecraft帐号注册</h3>
    {{ if and .App.Config.RegistrationExistingPlayer.RequireInvite (not
      .InviteCode)
    }}
      <p>现有玩家注册仅限邀请。</p>
    {{ else }}
      {{ if .App.Config.ImportExistingPlayer.RequireSkinVerification }}
        <p>
          使用现有{{ .App.Config.ImportExistingPlayer.Nickname }}帐号来注册新帐号。
          这需要验证您拥有该账号。
        </p>
        {{ if .InviteCode }}
          <p><em>将使用邀请码 {{ .InviteCode }} 注册</em></p>
        {{ end }}
        <form action="{{ .App.FrontEndURL }}/web/register-challenge" method="get">
          <input
            required
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }}帐号角色名称"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            {{ if not .AllowChoosingPlayerName }}
              value="{{ .PreferredPlayerName }}"
              title="该实例不允许自定义角色名"
              disabled
            {{ end }}
          />
          <input
            hidden
            type="checkbox"
            name="useIdToken"
            checked
          />
          <input
            hidden
            type="text"
            name="inviteCode"
            value="{{ .InviteCode }}"
          />
          <input hidden name="returnUrl" value="{{ .URL }}" />
          <input type="submit" value="继续" />
        </form>
      {{ else }}
        <p>
          使用现有{{ .App.Config.ImportExistingPlayer.Nickname }}帐号的 UUID 注册新账号。
        </p>
        <form action="{{ .App.FrontEndURL }}/web/register" method="post">
          <input
            required
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }}帐号角色名称"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
          />
          <input
            hidden
            type="checkbox"
            name="useIdToken"
            checked
          />
          <input type="checkbox" name="existingPlayer" checked hidden />
          <input
            hidden
            type="text"
            name="inviteCode"
            value="{{ .InviteCode }}"
          />
          {{ if .InviteCode }}
            <p><em>将使用邀请码 {{ .InviteCode }} 注册</em></p>
          {{ end }}
          <input type="submit" value="注册" />
        </form>
      {{ end }}
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}

  {{ template "footer" . }}
{{ end }}
