{{ template "layout" . }}

{{ define "title" }}注册 - {{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ template "header" . }}

  {{ $dividerNeeded := false }}

  <!-- Sign in with OpenID -->
  {{ if gt (len .WebOIDCProviders) 0 }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3><img class="openid-logo" src="{{ .App.PublicURL }}/openid-logo.svg" alt="OpenID logo"></h3>
    {{ range $provider := $.WebOIDCProviders }}
      {{ if and $provider.RequireInvite (not $.InviteCode) }}
        使用 {{ $provider.Name }} 登陆需要获得邀请。
      {{ else }}
        <p>
          <a href="{{ $provider.AuthURL }}">使用 {{ $provider.Name }} 登陆</a>
        </p>
      {{ end }}
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}

  <!-- RegistrationNewPlayer -->
  {{ if and .App.Config.RegistrationNewPlayer.Allow .App.Config.AllowPasswordLogin }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3>注册</h3>
    {{ if and .App.Config.RegistrationNewPlayer.RequireInvite (not .InviteCode) }}
      <p>新玩家注册仅限邀请。</p>
    {{ else }}
      {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
        <p>注册一个新账号：</p>
      {{ else }}
        <p>注册一个随机 UUID 的新账号：</p>
      {{ end }}
      <form action="{{ .App.FrontEndURL }}/web/register" method="post">
        <input
          type="text"
          name="playerName"
          placeholder="用户名"
          maxlength="{{ .App.Constants.MaxUsernameLength }}"
          required
        />
        <input
          type="text"
          name="email"
          placeholder="请勿填写"
          class="honeypot"
        />
        <input
          type="password"
          name="password"
          placeholder="密码"
          minlength="{{ .App.Config.MinPasswordLength }}"
          class="long"
          required
        />
        {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
          <p>
            <input
              class="long"
              type="text"
              name="uuid"
              placeholder="玩家UUID（留空随机生成）"
              pattern="^[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12}$"
            />
          </p>
        {{ end }}
        <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
        <input hidden name="returnUrl" value="{{ .URL }}" />
        {{ if .InviteCode }}
          <p><em>将使用邀请码 {{ .InviteCode }} 注册</em></p>
        {{ end }}
        <p>
          <input type="submit" value="注册" />
        </p>
      </form>
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}

  <!-- RegistrationExistingPlayer -->
  {{ if and .App.Config.RegistrationExistingPlayer.Allow .App.Config.AllowPasswordLogin }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3>从现有的Minecraft帐号注册</h3>
    {{ if and .App.Config.RegistrationExistingPlayer.RequireInvite (not
      .InviteCode)
    }}
      <p>从现有的Minecraft帐号注册需要获得邀请。</p>
    {{ else }}
      {{ if .App.Config.ImportExistingPlayer.RequireSkinVerification }}
        <p>
          使用{{ .App.Config.ImportExistingPlayer.Nickname }}帐号的 UUID 注册新账号。
          这需要验证您拥有该账号。
        </p>
        {{ if .InviteCode }}
          <p><em>将使用邀请码 {{ .InviteCode }} 注册</em></p>
        {{ end }}
        <form action="{{ .App.FrontEndURL }}/web/register-challenge" method="get">
          <input
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }}帐号昵称"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            required
          />
          <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
          <input hidden name="returnUrl" value="{{ .URL }}" />
          <input type="submit" value="继续" />
        </form>
      {{ else }}
        <p>
          使用{{ .App.Config.ImportExistingPlayer.Nickname }}帐号的 UUID 注册新账号。
        </p>
        <form action="{{ .App.FrontEndURL }}/web/register" method="post">
          <input
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }}帐号昵称"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="密码"
            minlength="{{ .App.Config.MinPasswordLength }}"
            class="long"
            required
          />
          <input type="checkbox" name="existingPlayer" checked hidden />
          <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
          {{ if .InviteCode }}
            <p><em>将使用邀请码 {{ .InviteCode }} 注册</em></p>
          {{ end }}
          <input type="submit" value="注册" />
        </form>
      {{ end }}
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}

  {{ template "footer" . }}
{{ end }}
