{{ template "layout" . }}

{{ define "title" }}注册 - {{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ template "header" . }}
  {{ if .App.Config.RegistrationNewPlayer.Allow }}
    <h3>注册</h3>
    {{ if and .App.Config.RegistrationNewPlayer.RequireInvite (not .InviteCode) }}
      <p>新玩家注册仅限邀请。</p>
    {{ else }}
      {{ if .App.Config.RegistrationNewPlayer.AllowChoosingUUID }}
        <p>注册一个新账号：</p>
      {{ else }}
        <p>注册一个随机 UUID 的新账号：</p>
      {{ end }}
      <form action="{{ .App.FrontEndURL }}/web/register" method="post">
        <input
          type="text"
          name="username"
          placeholder="用户名"
          maxlength="{{ .App.Constants.MaxUsernameLength }}"
          required
        />
        <input
          type="text"
          name="email"
          placeholder="请勿填写"
          class="honeypot"
        />
        <input
          type="password"
          name="password"
          placeholder="密码"
          minlength="{{ .App.Config.MinPasswordLength }}"
          class="long"
          required
        />
        {{ if .App.Config.RegistrationNewPlayer.AllowChoosingUUID }}
          <p>
            <input
              class="long"
              type="text"
              name="uuid"
              placeholder="UUID（留空随机生成）"
              pattern="^[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12}$"
            />
          </p>
        {{ end }}
        <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
        <input hidden name="returnUrl" value="{{ .URL }}" />
        {{ if .InviteCode }}
          <p><em>使用邀请码 {{ .InviteCode }}</em></p>
        {{ end }}
        <p>
          <input type="submit" value="注册" />
        </p>
      </form>
    {{ end }}
  {{ end }}
  {{ if .App.Config.RegistrationExistingPlayer.Allow }}
    <h3>从现有账户注册</h3>
    {{ if and .App.Config.RegistrationExistingPlayer.RequireInvite (not .InviteCode) }}
      <p>现有玩家注册仅限邀请。</p>
    {{ else }}
      {{ if .App.Config.RegistrationExistingPlayer.RequireSkinVerification }}
        <p>
          使用现有{{ .App.Config.RegistrationExistingPlayer.Nickname }}账号的 UUID 注册新账号。
          需要验证您拥有该账号。
        </p>
        {{ if .InviteCode }}
          <p><em>使用邀请码 {{ .InviteCode }}</em></p>
        {{ end }}
        <form action="{{ .App.FrontEndURL }}/web/challenge-skin" method="get">
          <input
            type="text"
            name="username"
            placeholder="{{ .App.Config.RegistrationExistingPlayer.Nickname }} 玩家名称"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            required
          />
          <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
          <input hidden name="returnUrl" value="{{ .URL }}" />
          <input type="submit" value="继续" />
        </form>
      {{ else }}
        <p>
          使用现有{{ .App.Config.RegistrationExistingPlayer.Nickname }}账号的 UUID 注册新账号。
        </p>
        <form action="{{ .App.FrontEndURL }}/web/register" method="post">
          <input
            type="text"
            name="username"
            placeholder="{{ .App.Config.RegistrationExistingPlayer.Nickname }} 玩家名称"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="密码"
            minlength="{{ .App.Config.MinPasswordLength }}"
            class="long"
            required
          />
          <input type="checkbox" name="existingPlayer" checked hidden />
          <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
          {{ if .InviteCode }}
            <p><em>使用邀请码 {{ .InviteCode }}</em></p>
          {{ end }}
          <input type="submit" value="注册" />
        </form>
      {{ end }}
    {{ end }}
  {{ end }}
  {{ template "footer" . }}
{{ end }}
