{{ template "layout" . }}

{{ define "title" }}Drasl{{ end }}

{{ define "content" }}
  {{ template "header" . }}
  <h3>登录</h3>
  <form action="{{ .App.FrontEndURL }}/drasl/login" method="post">
    <input type="text" name="username" placeholder="用户名" required />
    <input
      class="long"
      type="password"
      name="password"
      placeholder="密码"
      required
    />
    <input type="submit" value="登录" />
  </form>

  <h3>配置您的客户端</h3>
  <p>
    在客户端使用 Drasl 需要支持自定义 API 服务器的第三方启动器。
    推荐使用
    <a href="https://github.com/unmojang/FjordLauncher">Fjord 启动器</a>，这是
    Prism 启动器的一个分支，但您也可以使用
    <a href="https://github.com/huanghongxun/HMCL">HMCL</a> 。两者都是
    免费/自由的软件。
  </p>

  <h4>Fjord 启动器</h4>

  <ol>
    <li>
      点击右上角的账户并选择“管理账户”。
    </li>
    <li>点击右侧边栏中的“添加 authlib-injector”。</li>
    <li>
      输入您的用户名和密码，并使用
      <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>
      作为 URL。点击“确定”。
    </li>
  </ol>

  <h4>HMCL</h4>

  <ol>
    <li>
      点击侧边栏顶部的账户，进入“账户列表”视图。
    </li>
    <li>
      左下角点击“新建认证服务器”，输入
      <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>。
      点击“下一步”，然后点击“完成”。
    </li>
    <li>
      在侧边栏中，点击新添加的认证服务器，标签为
      “{{ .App.Config.InstanceName }}”。输入您的 Drasl 用户名和密码，然后点击“登录”。
    </li>
  </ol>

  <h4>其他启动器</h4>

  <p>
    如果您的启动器支持使用 authlib-injector， 可以使用以下 URL：
    <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>。
  </p>

  <p>
    或者，如果您的启动器支持自定义 API 服务器但不支持 authlib-injector，您可以使用以下 URL 进行配置：
  </p>

  <table>
    <tr>
      <td>认证服务器：</td>
      <td>{{ .App.AuthURL }}</td>
    </tr>
    <tr>
      <td>账户服务器：</td>
      <td>{{ .App.AccountURL }}</td>
    </tr>
    <tr>
      <td>会话服务器：</td>
      <td>{{ .App.SessionURL }}</td>
    </tr>
    <tr>
      <td>服务服务器：</td>
      <td>{{ .App.ServicesURL }}</td>
    </tr>
  </table>

  <h3>配置您的服务器</h3>

  <h4>Minecraft 1.16 及以后版本</h4>

  在较新版本的 Minecraft 上，您可以在原版服务器上使用 Drasl。
  只需在启动服务器时，在指定 jar 文件之前添加以下参数：
  <pre style="word-wrap: break-word; white-space: pre-wrap; overflow-x: auto">
-Dminecraft.api.env=custom
-Dminecraft.api.auth.host={{ .App.AuthURL }}
-Dminecraft.api.account.host={{ .App.AccountURL }}
-Dminecraft.api.session.host={{ .App.SessionURL }}
-Dminecraft.api.services.host={{ .App.ServicesURL }}
  </pre>

  例如，启动服务器的完整命令可能是：
  <pre style="word-wrap: break-word; white-space: pre-wrap; overflow-x: auto">
java -Xmx1024M -Xms1024M \
    -Dminecraft.api.env=custom \
    -Dminecraft.api.auth.host={{ .App.AuthURL }} \
    -Dminecraft.api.account.host={{ .App.AccountURL }} \
    -Dminecraft.api.session.host={{ .App.SessionURL }} \
    -Dminecraft.api.services.host={{ .App.ServicesURL }} \
    -jar server.jar nogui</pre>

  <h4>Minecraft 1.15.2 及以前版本</h4>

  <p>
    请参阅 authlib-injector 文档了解如何设置服务器：
    <a
      href="https://github.com/yushijinhun/authlib-injector/blob/develop/README.en.md#deploy"
      >https://github.com/yushijinhun/authlib-injector/blob/develop/README.en.md#deploy</a
    >。
  </p>

  <p>
    或者，您可以修补您的服务器以使用支持自定义 API 服务器的更新版本的 Mojang 的 authlib。
    请参阅
    <a href="https://github.com/tinytengu/minecraft-authlib">https://github.com/tinytengu/minecraft-authlib</a>。
  </p>

  {{ template "footer" . }}
{{ end }}
